.page-footer {
  padding: 40px 31px 44px;
  background: linear-gradient(180deg, rgba(209, 101, 39, 0.15) 0%, rgba(255, 255, 255, 0.15) 119.86%);
}

.menu-footer {

}

.menu-footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.menu-footer__item {

}

.menu-footer__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: #272725;
}

.page-footer__logo {
  margin: 0 0 10px 0;
}

.page-footer__img {

}

.page-footer__subtitle {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #121212;
  margin: 0 0 35px 0;
}
.page-footer__contacts {

}

.page-footer__title {
  margin: 0 0 10px 0;
}

.page-footer__list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.page-footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page-footer__item:last-child {
  margin: 0;
}

.page-footer__icon {

}

.page-footer__icon--email {
}

.page-footer__icon-text {
  margin-left: 11px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1A171B;
}

.page-footer__icon--phone {

}

.page-footer__icon--marker {

}

.page-footer__socials {

}

.page-footer__socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__socials-item {
  width: 52px;
  height: 52px;
  background: rgba(224, 93, 0, 0.1);
  border-radius: 50%;
}

.page-footer__socials-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.page-footer__socials-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-footer__socials-icon--tg {

}

.page-footer__socials-icon--wa {

}

.page-footer__socials-icon--vk {

}

.page-footer__socials-icon--fb {

}

.page-footer__socials-icon--inst {

}
